label {
  font-weight: bold;
}

form {
  border-spacing: 0.5em;
  display: table;
  margin-top: 1em;
}

.submit-button {
  margin-top: 1em;
}

form p {
  display: table-row;  
}

label { display: table-cell; }
input { display: table-cell; }

#button-panel {
  padding: 1em;
}