.statistics-table td {
  text-align: left;
}

.statistics-table td.number {
  text-align: right;
}

.statistics-table:first-of-type {
  margin-right: 6em;
}

.table-wrapper {
  display: inline-block;
}

#counts {
  padding: 1em;
  text-align: center;
}

#statistics {
  padding: 1em;
}

.label {
  font-weight: bold;
}

#file-metadata {
  padding: 1em;
}