html {
  height: 100%;
}

body {
  margin: 0 auto;
  height: 100%;
  background-color: #BDB;
  font: 14px verdana, sans-serif;
  position: relative;
  width: 960px;
}

fieldset {
  margin-bottom: 15px;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#header {
  border-bottom: 1pt solid black;
  overflow: hidden;
}

#content {
  overflow: hidden;
  padding-bottom: 60px; /* 45 do footer + 15 */
  position: relative;
}

#main-menu{
  padding: 0;
}

#main-menu li{
  margin: 5px 0;
}

#dataset-properties p {
  margin-top: 0;
}

button {
  cursor: pointer;
}

button:hover {
  background: rgb(64, 160, 224);
}

.flashes {
  padding: 0;
}

.flash {
  border: 2pt solid red;
  padding: 5pt;
  font-weight: bold;
  margin: 20pt 0;
  background-color: rgba(255, 0, 0, 0.2);
}

.flash.info {
  border: 2pt solid green;
  background-color: rgba(0, 128, 0, 0.2);
}

th {
  background-color: cornflowerblue;
}

.filename-item, tr.data {
  background-color: aliceblue;
}

.filename-item.selected {
  background-color: cadetblue;
}

.filename-item td, th, tr.data td {
  border: 1px solid black;
  padding: 5px;
}

tr.selectable td {
  cursor: pointer;
}

tr.selectable:hover {
  background-color: lightblue;
}

td.number {
  text-align: right;
}


ul {
  list-style-type: none;
}

#rte-pairs {
  clear: both;
  padding: 10px;
}

#footer {
  border-top: 1pt solid black;
  bottom: 10px;
  height: 25px;
  padding-bottom: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.title, .subtitle {
  clear: both;
  display: inline-block;
  float: left;
  text-align: center;
}

.title {
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0;
}

.subtitle {
  font-size: 1.5em;
}

.user-info {
  float: right;
}

#dataset-properties {
  float: left;
  padding: 20px 0;
}

li.rte-pair{
  border-bottom: 1pt solid black;
  padding: 20px 0;
}

li.rte-pair:first-child{
  border-top: 1pt solid black;
}

.rte-pair {
  clear: both;
  margin: 0;
}

dd, dt{
  float: left;
  line-height: 25px;
}

dd {
  float: left;
}

dt {
  clear: both;
  font-weight: bold;
}

.query-result {
  margin: 30px auto 0;
}

.query-result td {
  text-align: right;
  padding: 0 10px;
}

.query-result th{
  padding: 0 10px;
}

#header a:link, #header a:visited {
  color: black;
}

#welcome {
  margin-bottom: 30px;
}

label {
  padding-right: 25px;
}

.graph {
  display: block;
  margin: 0 auto;
}

.statistics th {
  border-bottom: 1px solid black;
}

a:link {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: blue;
}
