#annotations-per-pair {
  width: 2.5em;
}

#annotation-control {
  float: right;
  margin-top: 2em;
  padding: 0.5em;
}

#annotation-control legend {
  font-size: large;
}

#annotation-control label {
  float: left;
  margin-top: 0.5em;
}

.text-label {
  float: left;
  font-weight: bold;
  margin-right: 1em;
  width: 8%;
}

.text-content {
  clear: right;
  float: left;
  width: 85%;
}

.pair2 {
  clear: both;
  padding-top: 0.5em;
}

.classtip {
  display: none;
}

.review-panel {
  float: right;
  padding-bottom: 0.5em; 
  text-align: right;
  width: 9%;
}

.review-panel ul {
  padding: 0;
}

.review-option {
  display: inline;
  padding: 0 0.5em;
}

.review-confirm {
  display: none;
}

.review-option button {
  border-radius: 20em;
  font-size: small;
  width: 10em;
}

.annotation-panel {
  clear: both;
  text-align: center;
}

.icon {
  height: 1.5em;
}

.pair-contents {
  float: left;
  width: 90%;
}

.review-option .icon {
  cursor: pointer;
}

.similarity-panel {
  float: left;
  width: 90%;
}

.similarity-panel, .entailment-panel {
  padding: 0.5em;
}

.entailment-panel {
  width: 90%;
  padding-bottom: 0;
}

.similarity-button {
  border-radius: 50%;
  height: 2em;
  line-height: 1em;
  width: 2em;
}

.annotation-option .tooltip, .review-option .tooltip {
  display: none;
  margin-left: -1em;
  margin-top: 2em; 
  padding: 1em;
  z-index: 10;
}

.annotation-option.entailment-button .tooltip {
  margin-left: -6em;
}

.review-edit .tooltip, .review-confirm .tooltip {
  margin-left: -7em;
}

.review-delete .tooltip {
  margin-left: -7em;
}

.annotation-option:hover .tooltip, .review-option .icon:hover + .tooltip{
  background: #fffAF0;
  border: 1px solid #BA9;
  color: #111;
  display: inline;
  position: absolute;
}

.entailment-button {
  border-radius: 20em;
  width: 10em;
}

.annotation-option.selected {
  background-color: lightblue;
  border: 0.15em solid blue;
}

.annotation-feedback {
  color: green;
  float: right;
  font-weight: bold;
  width: 9%;
}

.annotation-options{
  clear: both;
  height: 24pt;
  padding-top: 15px;
  text-align: justify;
}

.annotation-options:after {
  content: "";
  width: 100%;
  display: inline-block;
}

.annotation-option{
  border: 0.1em solid black;
  display: inline-block;
  font-size: initial;
  padding: 0.3em;
}

.navigation{
  bottom: 10px;
  font-size: x-large;
  text-align: center;
  width: 33%;
}

.navigation button {
  font-size: large;
}

.navigation-container {
  overflow: hidden;
  clear: both;
  text-align: center;
}

.navigation-next{
  float: right;
}

.navigation-previous{
  float: left;
}
