{% extends "layout.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
{% endblock %}

{% block content %}
    <div id="password-panel">
        <form action="" method="post" >
            <p>
                <label for="old-password" >Old password</label>
                <input type="password" id="old-password" name="old-password" />
            </p>
            <p>
                <label for="new-password" >New password</label>
                <input type="password" id="new-password" name="new-password" />
            </p>
            <input type="submit" value="Change" />
        </form>
    </div>
{% endblock %}