{% extends "layout.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='choose-file.css') }}" />
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
<script>
    var selectedFile = '';
    
    $(function(){
        $('.filename-item').click(function(){
            selectedFile = $(this).attr('data-file-id');
            // remove previously selected element
            $('.selected').removeClass('selected');
            $(this).addClass('selected');
        });
    });

    $(function(){
        $('.command-button').click(function(){
            if (selectedFile == '') {
                return;
            }
            
            url = this.getAttribute('data-link') + selectedFile;
            location.href = url;
        });
    });
    
    $(function(){
        $('#overall-stats').click(function(){
            url = this.getAttribute('data-link');
            location.href = url;
        });
    });
    
{% if current_user.may_download_annotated_file() %}
    $(function(){
        $('#download-annotated').click(function(){
            if (selectedFile == '') {
                return;
            }
            
            hiddenInput = $('#file-id');
            hiddenInput.val(selectedFile);
            
            //alert(hiddenInput.val());
            $('.download-panel form').submit();
        });
    });
{% endif %}
</script>
{% endblock %}

{% block content %}
<div class="filenames">
    <table id="filetable">
        <thead>
            <tr>
                <th>Filename</th>
                <th>Total pairs</th>
                <th>Ready for annotation</th>
                <th>Pairs you reviewed</th>
                <th>Annotations</th>
                <th>Pairs you annotated</th>
                <th>Pairs with enough annotations</th>
            </tr>
        </thead>
        
        <tbody>
        {% for file_ in files %}
            <tr class="filename-item selectable" id="{{ file_.name }}" data-file-id="{{ file_.id }}">
                <td class="button">{{ file_.name }}</td>
                <td class="number">{{ file_.pairs.count() }}</td>
                <td class="number">{{ file_.num_reviewed_and_kept }}</td>
                <td class="number">{{ file_.num_reviewed_by_user }}</td>
                <td class="number">{{ file_.num_annotations }}</td>
                <td class="number">{{ file_.num_annotated_by_user }}</td>
                <td class="number">{{ file_.num_annotated_enough }}</td>
            </tr>
        {% endfor %}
        </tbody>
        
    </table>
    
    <div class="control-buttons">
        {% if current_user.may_edit_pair() %}
            <button class="command-button link-button" data-link="{{ url_for('clean_file') }}">Clean</button>
        {% endif %}
        <button class="command-button link-button" data-link="{{ url_for('annotate_file') }}">Annotate</button>
        {% if current_user.may_download_raw_file() %}
            <button class="command-button link-button" data-link="{{ url_for('download_raw') }}">Download</button>
        {% endif %}
        <button class="command-button link-button" data-link="{{ url_for('statistics') }}">Statistics</button>
        <button class="link-button" id="overall-stats" data-link="{{ url_for('overall_statistics') }}">Overall Statistics</button>
        
        {% if current_user.may_download_annotated_file() %}
            <div class="download-panel">
                <form action="{{ url_for('download_annotated') }}" method="post">
                    <label for="num-pairs">Number of pairs:</label>
                    <input type="number" id="num-pairs" name="num-pairs" min="1"/>
                    
                    <label for="agreeing">Agreeing annotations:</label>
                    <input type="number" id="agreeing" name="agreeing" min="1"/>
                    
                    <label for="all-files">All files</label>
                    <input type="checkbox" id="all-files" name="all-files"/>
                    
                    <input type="hidden" id="file-id" name="file-id"/>
                    
                    <button class="link-button" id="download-annotated">Download Annotated</button>
                </form>
            </div>
        {% endif %}
        
    </div>
</div>
{% endblock %}
