{% extends "layout.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='clean.css') }}" />
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
<script type="text/javascript">
    {% include 'clean.js' %}
</script>
{% endblock %}

{% block content %}
    <h2>Clean file</h2>
    <p>Click the sentences to edit them and press "OK" to submit the changes. To discard the pair altogether, click "Discard".</p>
    
    <hr />
    
    <div id="rte-pair" data-pair-id="" >
        <div class="pair1">
            <span class="text-label">Text 1</span>
            <span id="text1" contenteditable="true" class="text-content"></span>
        </div>
        
        <div class="pair2">
            <span class="text-label">Text 2</span>
            <span id="text2" contenteditable="true" class="text-content"></span>
        </div>        
        <span id="message-empty">No more pairs to review</span>
    </div>

    <hr />
    
    <div class="navigation-container">
        <button id="ok-button" class="control">OK</button>
        <button id="discard-button" class="control">Discard</button>
        <button id="undo-button" class="control">Undo</button>
    </div>
{% endblock %}