{% extends "layout.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='examples.css') }}" />
{% endblock %}

{% block content %}
<h1>Annotation hints</h1>

<div id="hints">
    <p>Algumas dicas e linhas gerais para a anotação de implicação (<em>entailment</em>):</p>
    
    <ul class="hint-list">
    
        <li class="hint">Conhecimento de mundo pode ser usado para determinar entailment quando for algo <strong>atemporal</strong>, isto é, que não muda com o tempo. Assim, embora <em>há 70 anos atrás</em> e <em>em 1945</em> sejam equivalentes em 2015, <strong>não</strong> devem ser considerados paráfrases. Pense nesse dataset sendo usado daqui a um ou cinco anos.</li>
        
        <li class="hint">Por outro lado, <em>Florianópolis, em Santa Catarina</em> é equivalente a apenas <em>Florianópolis</em>. Mesmo com uma descrição a mais, a entidade pode ser reconhecida como a mesma.</li>
    
        <li class="hint">É importante observar informações exclusivas e termos mais específicos de cada sentença. Paráfrase é uma relação de igualdade de conjuntos, implicação é uma relação de continência; nenhuma das duas é apenas de interseção.</li>
        
        <li class="hint">Uma oração com discurso indireto (<em>O embaixador disse que (...)</em>) pode implicar outra que contenha apenas a fala atribuída. O contrário, no entanto, não é possível</li>
        
        <li class="hint">Atributos (na forma de adjetivos ou apostos) de entidades nomeadas podem ser desconsiderados para uma relação de implicação ou paráfrase. Isso porque uma entidade nomeada se refere a algo externo às sentenças e não precisa ser descrito por elas. Por exemplo, <em>jornal brasileiro Folha de São Paulo</em> pode implicar <em>Folha de São Paulo</em>.</li>
        
        <li class="hint">Valores numéricos diferentes só podem ser aceitos para paráfrase/implicação se tiverem indicadores explícitos de serem aproximações: "acerca de", "pelo menos", "quase", "perto de", etc. Por exemplo, <em>arrecadou 7 milhões</em> não implica <em>arrecadou 6 milhões</em> pois, mesmo sendo uma quantia menor, é muito possível que se refira a outro evento.</li>
    </ul>
</div>

{% endblock %}
