{% extends "layout.html" %}

{% block content %}
    {% if current_user %}
    
    <p id="welcome">Welcome, {{ current_user.name }}! <a href="{{ url_for('logout') }}">Click here to log out</a>.</p>
    
    <ul id="main-menu">
        <li><a href="{{ url_for('examples') }}">Examples</li>
        <li><a href="{{ url_for('hints') }}">Hints</li>
        <li><a href="{{ url_for('change_password') }}">Change password</a></li>
        <li><a href="{{ url_for('view_users') }}">View annotators</a></li>
        <li><a href="{{ url_for('view_files') }}">View files</a></li>
    </ul>
    
        {% if current_user.may_submit_file() %}
            <form action="{{ url_for('submit') }}" method="post" enctype="multipart/form-data">
                <fieldset id="submit-xml">
                    <label for="file">Submit XML file</label>
                    <input name="file" type="file" id="file"/>
                </fieldset>
                <input type="submit" value="Submit" />
            </form>
        {% endif %}
    {% else %}
    
    <p>You are not logged in. <a href="{{ url_for('login') }}">Click here to log in</a>.</p>
    
    {% endif %}
{% endblock %}
