<!doctype html>
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        {% block link %}{% endblock %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% block title %}RTE Annotator{% endblock %}</title>
        {% block script %}{% endblock %}
        {% endblock %}
    </head>

    <body>
        <div id="wrapper">
            <div id="header">
                {% block header %}
                <div class="title"><a href="{{ url_for('index') }}">RTE Annotator</a></div><br />
                {% if session['username'] %}
                    <div class="user-info">Logged in as {{ session['username'] }} | <a href="{{ url_for('logout') }}">Log out</a></div>
                {% endif %}
                {% endblock %}
            </div>
            
            <div id="content">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="flashes">
                            {% for category, message in messages %}
                              <li class="flash {{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div> 
            
            <div id="footer">
                {% block footer %}
                <p>Developed by Erick Fonseca - NILC/USP.</p>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
