{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
{% endblock %}

{% block content %}
<p>Welcome to the RTE Annotator.</p>

<form action="" method="post">
    <div class="user-login">
        <p><label for="username" >User</label><input id="username" type="text" name="username" /></p>
        <p><label for="password" >Password</label><input id="password" type="password" name="password" /></p>
        <input class="submit-button" type="submit" value="Login" />
    </div>
</form>
{% endblock %}