{% extends "layout.html" %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
<script>
    $(function(){
        $('.selectable').click(function(){
            $(this).toggleClass('selected');
        });
    });
    
    $(function(){
        $('#select-all').click(function(){
            $('.selectable').addClass('selected');
        });
    });
    
    $(function(){
        $('#unselect-all').click(function(){
            $('.selectable').removeClass('selected');
        });
    });
    
    function see_stats(endpoint){
        // Post the HTML form to the supplied endpoint
        ids = [];
            
        $('.selected').each(function(){
            id = $(this).attr('data-id');
            ids.push(id);
        });
        
        // send POST request with the ids
        $('#ids').val(JSON.stringify(ids));
        form = $('#form');
        form.attr('action', endpoint);
        form.submit();
    }
    
    $(function(){
        $('#see-annotator-stats').click(function(){
            see_stats("{{ url_for('annotator_statistics') }}");
        })
    });
    
    $(function(){
        $('#see-dataset-stats').click(function(){
            see_stats("{{ url_for('overall_statistics') }}");
        });
    });
</script>
{% endblock %}

{% macro generateClasses() %}
    {%- if current_user.may_see_all_statistics() %}
        username-item filename-item selectable
    {%- else %}
        username-item filename-item
    {%- endif %}
{%- endmacro %}

{% block content %}
    <table id="usertable">
        <thead>
            <tr>
                <th>Annotator name</th>
                {% if current_user.may_see_all_statistics() %}
                    <th>Annotations</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr class="{{ generateClasses() }}" data-id="{{ user.id }}">
                    <td>{{ user.name }}</td>
                    
                {% if current_user.may_see_all_statistics() %}
                    <td>{{ user.annotation_count }}</td>
                {% endif %}
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% if current_user.may_see_all_statistics() %}
        <form action="" method="post" id="form">
            <input type="hidden" id="ids" name="ids" />
        </form>
        
        <div id="button-panel">
            <button id="select-all">Select all</button>
            <button id="unselect-all">Unselect all</button>
            <button id="see-annotator-stats">See annotator statistics</button>
            <button id="see-dataset-stats">See dataset statistics from selected annotators</button>
        </div>
    {% endif %}
    
    {% if current_user.may_create_user() %}
        <div id="option-panel">
            <h2>Create new user</h2>
            <form action="" method="post" >
                <p>
                    <label for="username" >User name</label>
                    <input type="text" id="username" name="username" />
                </p>
                <p>
                    <label for="password" >User password</label>
                    <input type="password" id="password" name="password" />
                </p>
                <input type="submit" value="Create" />
            </form>
        </div>
    {% endif %}
{% endblock %}